<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Sağlıklı Tahmin</title>
  </head>

<body class="bg-dark text-white"> 
    
<!-- <form method="POST">
	<br><b>radius_mean</b><br>
	<textarea rows="2" cols="10" name="radius_mean">
	</textarea>

    <br><b>texture_mean</b><br>
    <textarea rows="2" cols="10" name="texture_mean">
	</textarea>

    <br><b>perimeter_mean</b><br>
    <textarea rows="2" cols="10" name="perimeter_mean">
	</textarea>

    <br><b>area_mean</b><br>
    <textarea rows="2" cols="10" name="area_mean">
	</textarea>

    <br><b>smoothness_mean</b><br>
    </textarea>
    <textarea rows="2 cols="10" name="smoothness_mean">
	</textarea>
    <br><b>compactness_mean</b><br>
    </textarea>
    <textarea rows="2 cols="10" name="compactness_mean">
	</textarea>
    <br><b>concavity_mean</b><br>
    </textarea>
    <textarea rows="2 cols="10" name="concavity_mean">
	</textarea>
    <br><b>concave points_mean</b><br>
    </textarea>
    <textarea rows="2 cols="10" name="concave points_mean">
	</textarea>
    <br><b>symmetry_mean</b><br>
    </textarea>
    <textarea rows="2 cols="10" name="symmetry_mean">
	</textarea>
    <br><b>fractal_dimension_mean</b><br>
    </textarea>
    <textarea rows="2 cols="10" name="fractal_dimension_mean">
	</textarea>
	<br><br>
    <input type="submit">
    <br><br>
    <h1><b> Result: </b> {{ value }} </h1>
</form> -->


<!--Navigasyon Cubugu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="/static/sayfaLogosu.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="http://127.0.0.1:5000/home">Sağlıklı Tahmin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/hakkimizda">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/breast">Göğüs Kanseri Tahmini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/heart">Kalp Krizi Riski Tahmini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/brain">Beyin Tümörü Teşhisi</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>

    <!--col-6 bölümleme-->
 
  <div class="container">
    <div class="row">
      <div class="col">
     
<form style="position: absolute;"  method="POST">
    <br>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Yarıçap Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="radius_mean" name="radius_mean"> 
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="texture_mean">Doku (gri tonlamalı değerlerin standart sapması)</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control"  step="0.0000001" id="texture_mean" name="texture_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Çevre Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="perimeter_mean" name="perimeter_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Alan Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="area_mean" name="area_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Pürüzsüzlük Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="smoothness_mean" name="smoothness_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Kompaktlık Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="compactness_mean" name="compactness_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">İçbükeylik Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="concavity_mean" name="concavity_mean">
</div>

    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">İçbükey Nokta Sayısı</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="concave points_mean" name="concave points_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Simetri Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="symmetry_mean" name="symmetry_mean">
</div>
    <div class="form-group">
        <label style="font-family:cursive;" for="radius_mean">Fraktal Boyut Ortalaması</label> <br>
        <input style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" type="number" class="form-control" step="0.0000001" id="fractal_dimension_mean" name="fractal_dimension_mean">
</div>
    
<br>
    <input style="background-color: rgba(24, 40, 53, 0.795); color: white; border-color: white; width: 100px;" type="submit" class="form-control"> <br>

    <h1 style="font-family:cursive; font-size: 15px;"><b> SONUÇ: </b> {{ value }} </h1>
        <br> <br> 
  </form>
  {% for name in filenames %}
    <img style="margin-top: 750px;" src="/static/{{ name }}", width="100%">
   {% endfor %}
  
  
</div>


 
<!--col-6 bölümleme sag taraf-->


<div class="col">
    <br>
 
    <h2>Göğüs Kanseri Nedir?</h2>
    <p class="fs-6 mb-4class">Göğüs kanseri, göğüs dokusunu oluşturan hücre gruplarından birinin değişime 
      uğraması ve kontrolsüz olarak çoğalması nedeniyle oluşan tümör sonucu ortaya çıkan bir hastalıktır. <br> <br> Kanserli doku, önce yakın çevresine sonra, 
      memeye yakın lenf bezlerine yayılıyor. Zamanında tanı konulup tedavi edilmeyen hastalarda kanser diğer organlara yayılarak tedavisi olanaksız evreye geçiyor.
      <br>
     Meme kanserlerinin son yıllarda görülme sıklığı oldukça arttı. Küresel ölçekteki istatistiklere göre meme kanserinin görülme sıklığı 100000’de 40-50 civarlarında hesaplanmakta.
      <br><br>
      Bunun yanı sıra, ABD verilerine göre bir kadının hayatı boyunca meme kanserine yakalanma olasılığı 1/8 olarak ifade ediliyor. Her ne kadar ilerleyen yaşlarla beraber görülme sıklığı artsa dahi, meme kanserinden korunmanın bir takım yolları bulunuyor:
     <br>
      <ul class="fs-6 mb-4class=">
        <li>Sigara ve alkol gibi kanser yapıcı maddelerden uzak durmak</li>
        <li>Sağlıklı beslenmek ve düzenli spor yapmak</li>
        <li>İdeal kiloyu korumaya özen göstermek</li>
        <li>Bebek sahibi olan anneler için ilk 6 ay emzirmek</li>
        <li>Çok geç yaşta anne olmamak</li>
        <li>Hormon ilaçlarının kullanımına dikkat etmek</li>
      </ul>
      
      <!--açılabilir sekme (1)-->

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: rgba(94, 189, 192, 0.507); color: rgb(0, 0, 0);" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Meme Kanseri Risk Faktörleri
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark">
              <p class="fs-6 mb-4">
                <ul class="fs-6 mb-4">
                <li>Kadın olmak</li>
                <li>50-70 yaş arasında ve menopoz sonrası dönemde olmak</li>
                <li>Ailesinde (anne veya baba tarafında) meme kanserine yakalanmış akrabaları olmak</li>
                <li>Daha önce meme kanserine yakalanmış olmak</li>
                <li>Adet başlama yaşının erken, menopoz yaşının geç olması</li>
                <li>Hiç doğum yapmamış olmak</li>
                <li>İlk doğumunu 30 yaşından sonra yapmak</li>
                <li>Doğum yapmış fakat bebeğini emzirmemiş olmak</li>
                <li>Uzun süreli hormon tedavisi almak</li>
                <li>Modern şehir yaşamı ortamında yaşamak,</li>
                <li>Sigara ve tütün ürünleri kullanmak,</li>
                <li>Şişmanlık; özellikle menopoz sonrası fazla kilo almak ve doymuş yağlardan zengin gıdaları fazla miktarda tüketmek,</li>
                <li>Fiziksel aktivite azlığı</li>
              </ul> </p>
            </div>
          </div>
        </div>
      
        <br>
         <!--açılabilir sekme (2)-->
        
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button style="background-color: rgba(94, 189, 192, 0.507); color: rgb(0, 0, 0);" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Hastalık Belirtileri
              </button>
            </h2>
            
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body bg-dark">
                
                  <p class="fs-6 mb-4">
                    Meme içinde kanserleşen bir hücrenin, bir tümör oluşturması ve bir uzmanın muayene sırasında anlamasına ya da radyolojik incelemede belli olmasına kadar hayli uzun zaman geçmesi gerekiyor. Kadınlar genellikle en az 1 cm. büyüklüğüne ulaşmış bir kitleyi, elle kontrol yöntemi sayesinde fark edebiliyorlar.
                    <br><br>
                      Günümüzde meme kanseri belirtilerininin çoğu kişinin kendisi tarafından bulunuyor. Kanserli kitleler nispeten sert, düzensiz kenarlı, yüzeyi pürtüklü görünüyor ve meme dokusu içinde rahatça oynatılamıyor.
                      Meme Kanserinin belirtileri ise;
                    <br>
        
                  <ul class="fs-6 mb-4class=">
                    <li>Memede elle hissedilen bir sertlik veya kitle</li>
                    <li>İki meme arasında son dönemde ortaya çıkan asimetri</li>
                    <li>Meme başında veya meme cildinde içe doğru çekinti</li>
                    <li>Memede kızarıklık, yara, egzama, kabuklanma, çatlama</li>
                    <li>Meme cildinde portakal kabuğuna benzer görünüm</li>
                    <li>Meme başında şekil veya yön değişikliği</li>
                    <li>Memede olağan dışı şişlik veya boyut artışı</li>
                    <li>Adet dönemlerinde memede rastlanabilenden farklı karakterde ağrı</li>
                    <li>Koltuk altında sertlik, şişlik veya kitle</li>
                    <li>Meme başından akıntı; özellikle pembe, kırmızı renkte</li>
                  </ul>
                 </p>
              </div>
            </div>
          </div>
          <br>
          
           <!--fotograf-->
     <img src="/static/breast_image1.jpg" style=" width: 50%; " alt="">

  </div>
</div>
</div>
<!--footer-->
<div class="container">
    <footer class="pt-5 my-5 text-muted border-top">
      Sağlıklı Tahmin · Rıfat İlhan · Berk Tunç · © 2022
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>