<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Sağlıklı Tahmin</title>
  </head>

<body class="bg-dark text-white"> 

    <!--Navigasyon Cubugu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="/static/sayfaLogosu.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="http://127.0.0.1:5000/home">Sağlıklı Tahmin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/hakkimizda">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/breast">Göğüs Kanseri Tahmini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/heart">Kalp Krizi Riski Tahmini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/brain">Beyin Tümörü Teşhisi</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>

  <!-- datax.loc[["X"], "BMI"]=20
  datax.loc[["X"], "Smoking"]=1
  datax.loc[["X"], "AlcoholDrinking"]=1
  datax.loc[["X"], "Stroke"]=0
  datax.loc[["X"], "PhysicalHealth"]=30.0
  datax.loc[["X"], "MentalHealth"]=30.0
  datax.loc[["X"], "DiffWalking"]=0
  datax.loc[["X"], "Sex"]=1
  datax.loc[["X"], "AgeCategory"]=3
  datax.loc[["X"], "Race"]=1
  datax.loc[["X"], "Diabetic"]=1
  datax.loc[["X"], "PhysicalActivity"]=1
  datax.loc[["X"], "GenHealth"]=0
  datax.loc[["X"], "SleepTime"]=9.0
  datax.loc[["X"], "Asthma"]=1
  datax.loc[["X"], "KidneyDisease"]=0
  datax.loc[["X"], "SkinCancer"]=1 -->

  <!--col-6 bölümleme-->
  <div class="container">
    <div class="row">
      <div class="col">
     
<form style="position: absolute;"  method="POST" action="/heart">
    <br>
    <div class="form-group">
      <label style="font-family:cursive;" for="BMI">Vücut Kitle Endeksiniz ?</label> <br>
    <select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="BMI" name="BMI">
      <option value="10">10</option><option value="10">11</option>
      <option value="10">12</option><option value="10">13</option>
      <option value="10">14</option><option value="10">15</option>
      <option value="10">16</option><option value="10">17</option>
      <option value="10">18</option><option value="10">19</option>
      <option value="10">20</option><option value="10">21</option>
      <option value="10">22</option><option value="10">23</option>
      <option value="10">24</option><option value="10">25</option>
      <option value="10">26</option><option value="10">27</option>
      <option value="10">28</option><option value="10">29</option>
      <option value="10">30</option><option value="10">31</option>
      <option value="10">32</option><option value="10">33</option>
      <option value="10">34</option><option value="10">35</option>
      <option value="10">36</option><option value="10">37</option>
      <option value="10">38</option><option value="10">39</option>
      <option value="20">40</option>
    </select>
    <span class="focus"></span>
  </div>

    <div class="form-group">
    <label style="font-family:cursive;" for="Smoking">Sigara Kullanıyor musunuz ?</label> <br>
  <select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Smoking" name="Smoking">
    <option value="Evet">Evet</option>
    <option value="Hayır">Hayır</option>
  </select>
  <span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="AlcoholDrinking">Alkol  Kullanıyor musunuz ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Alcohol" name="AlcoholDrinking">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="Stroke">Daha Önce Felç Geçirdiniz mi ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Stroke" name="Stroke">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
</select>
<span class="focus"></span>
</div>
<div class="form-group">
  <label style="font-family:cursive;" for="PhysicalHealth">Son bir ayda fiziksel sağlığınız kaç gün bozuktu?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="PhysicalHealth" name="PhysicalHealth">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="9">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>

</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="MentalHealth">Son bir ayda mental sağlığınız kaç gün bozuktu?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="MentalHealth" name="MentalHealth">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="9">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>

</select>
<span class="focus"></span>
</div>

    <div class="form-group">
  <label style="font-family:cursive;" for="DiffWalking">Yürümekte veya merdiven çıkmakta ciddi <br> güçlük çekiyor musunuz?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="DiffWalking" name="DiffWalking">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
 
</select>
<span class="focus"></span>
</div>

<div class="form-group">
<label style="font-family:cursive;" for="Sex">Cinsiyetiniz Nedir ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Sex" name="Sex">
<option value="Erkek">Erkek</option> 
<option value="Kadın">Kadın</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="AgeCategory">Kaç Yaşındasınız?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="AgeCategory" name="AgeCategory">
  <option value="18-24">18-24</option>
  <option value="25-29">25-29</option>
  <option value="30-34">30-34</option>
  <option value="35-39">35-39</option>
  <option value="40-44">40-44</option>
  <option value="45-49">45-49</option>
  <option value="50-54">50-54</option>
  <option value="55-59">55-59</option>
  <option value="60-64">60-64</option>
  <option value="65-69">65-69</option>
  <option value="70-74">70-74</option>
  <option value="75-79">75-79</option>
  <option value="80 veya daha yaşlı">80 veya daha yaşlı</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="Race">Hangi ırktansınız?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Race" name="Race">
  <option value="Beyaz">Beyaz</option>
  <option value="Option 2">Siyah</option>
  <option value="Asyalı">Asyalı</option>
  <option value="American Indian/Alaskan Native">American Indian/Alaskan Native</option>
  <option value="Other">Other</option>
  <option value="Latin">Latin</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="Diabetic">Diyabet hastalığınız Var mı?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Diabetic" name="Diabetic">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="PhysicalActivity">Fiziksel Aktivite yapıyor musunuz ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="PhysicalActivity" name="PhysicalActivity">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
 
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="GenHealth">Gen Sağlığınız nasıl ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="GenHealth" name="GenHealth">
  <option value="Poor">Poor</option>
  <option value="Fair">Fair</option>
  <option value="Good">Good</option>
  <option value="Very good">Very good</option>
  <option value="Excellent">Excellent</option>
</select>
<span class="focus"></span>
</div>


<div class="form-group">
  <label style="font-family:cursive;" for="SleepTime">Günlük kaç saat uyuyorsunuz ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="SleepTime" name="SleepTime">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="9">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="Asthma">Astım hastalağınız var mı ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="Asthma" name="Asthma">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>

</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="KidneyDisease">Böbrek hastalığınız var mı?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="KidneyDisease" name="KidneyDisease">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
</select>
<span class="focus"></span>
</div>

<div class="form-group">
  <label style="font-family:cursive;" for="SkinCancer">Daha önce cilt kasneri oldunuz mu ?</label> <br>
<select style="background-color: rgba(24, 40, 53, 0.795); color: white; width: 360px;" class="form-select" id="SkinCancer" name="SkinCancer">
  <option value="Evet">Evet</option>
  <option value="Hayır">Hayır</option>
</select>
<span class="focus"></span>
</div>


<br>
    <input style="background-color: rgba(24, 40, 53, 0.795); color: white; border-color: white; width: 100px;" type="submit" class="form-control"> <br>

    <h1 style="font-family:cursive; font-size: 15px;"><b> SONUÇ: </b> {{ value }} </h1>
        <br> <br> 
  </form>
  {% for name in filenames %}
    <img style="margin-top: 750px;" src="/static/{{ name }}", width="100%">
   {% endfor %}
  
  
</div>

<!--col-6 bölümleme sag taraf-->


<div class="col">
    <br>
 
    <h2>Kalp Krizi Nedir?</h2>
    <p class="fs-6 mb-4class">Türkiye’de her yıl 200 bin kişinin hayatını kaybetmesine sebep olan kalp krizi, 
        kalbi besleyen atardamarlarda yaşanan ani tıkanma sonucu kalp kasının yeterli seviyede oksijen alamaması 
        ve buna bağlı olarak kalp dokusunda hasar meydana gelmesidir. <br> <br> Kalbin kan akışını 
        sağlayan atardamar duvarlarında yağ ve kolesterol gibi maddelerin birikmesiyle, 
        plak olarak nitelendirilen yapılar ortaya çıkar. Bu plakların zamanla 
        çoğalması damarı daraltır ve damar üzerinde çatlaklar oluşmaya başlar. 
        Bu damar çatlaklarında baş gösteren pıhtılar, damarların tıkanmasına yol açarak kalp krizine neden olur.  <br>
      
    
      
      
      <!--açılabilir sekme (1)-->

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button style="background-color: rgba(94, 189, 192, 0.507); color: rgb(0, 0, 0);" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Kalp Krizini Tetikleyen Risk Faktörleri
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark">
              <p class="fs-6 mb-4">

                Kalp krizi riskini tetikleyen iki önemli risk etmeni mevcuttur: Bu etmenlerden ilki, yapılabilecek herhangi bir değişikliğin elinizde olmadığı ‘’değiştirilemeyen riskler’’ grubudur. Değiştirilemeyen riskler grubunu şu şekilde sıralayabiliriz:
                <ul class="fs-6 mb-4">
                <li>Genetik faktörler</li>
                <li>Yaş</li>
                <li>Erkek olmak</li>
                  
              </ul>
              <p class="fs-6 mb-4">İkinci önemli risk etmeni ise kişinin kendi çabalarına bağlı olarak değişiklik gösterebildiği için ‘’değiştirilebilen riskler’’ grubu altında yer alır. Değiştirilebilen riskler grubunu şu şekilde sıralayabiliriz:</p>
              

              <ul class="fs-6 mb-4">
                <li>Sigara İçmek</li>
                <li>Şeker hastalığı(Diyabet)</li>
                <li>Yüksek kan basıncı</li>
                <li>Obezite</li>
                
                
              </ul>
              
             </p>
            </div>
          </div>
        </div>
      
        <br>
         <!--açılabilir sekme (2)-->
        
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button style="background-color: rgba(94, 189, 192, 0.507); color: rgb(0, 0, 0);" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Kalp Krizi Belirtileri
              </button>
            </h2>
            
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body bg-dark">
                
                  <p class="fs-6 mb-4">
                    Kalp krizinden hayatını kaybedenlerin oranı, trafik kazası nedeniyle hayatını 
                    kaybedenlere kıyasla 30 kat fazladır. <br> Bilindiği gibi, sağlık söz 
                    konusu olduğunda erken tanı hayat kurtarmakta; bu nedenle kalp 
                    krizi şüphesi içerisinde olduğunuz an, vakit kaybetmeden bir 
                    sağlık kuruluşuna başvurmanız hayati önem taşımaktadır. <br>
                    Tanı konusunda olabildiğince erken aksiyon almanın son derece önem arz ettiği 
                    bu gibi durumlarda, rahatsızlığın ortaya çıkardığı semptomları tanımak hasta sağlığı açısından oldukça kıymetlidir. 
                    <br><br>Kalp krizinde en sık görülen belirtiler şunlardır:
        
                  <ul class="fs-6 mb-4">
                    
                    <li>Göğüs Kafesi Ağrısı
                            <br><br>
                        Kalp krizi genellikle göğüs kafesinin orta kısmında bir ağrıya sebep olur. Genelde birkaç dakika süren bu ağrı; baskı, ağırlık ve sıkışma olarak hissedilebilir. <br> <br></li>
                        <hr>
                        <li>Nefes Darlığı
                            <br><br>
                        Kalp krizi belirtilerinden biri olan nefes darlığı, göğüs kafesinde oluşan ağrıdan önce veya sonra gelişebilir. <br> <br> </li>
                        <hr>
                        <li>Gövdenin Üst Kısmında Meydana Gelen Ağrı
                            <br><br>    
                        Sırtta, omuzlarda, boyun bölgesinde, çenede, bir veya her iki kolda ve midenin üst kısmında meydana gelen ağrı kalp krizi belirtilerinden biridir. <br><br> </li>
                        <hr> 
                  </ul>
                  En yaygın olarak görülen semptomların haricindeki kalp krizi belirtilerini ise şu şekilde sıralayabiliriz: <br> <br>
                  <ul class="fs-6 mb-4">
                      <li>Bulantı ve Kusma</li>
                      <li>Aniden soğuk ter basması</li>
                      <li>Sebepsiz ani yorgunluk atakları</li>
                      <li>Mevcut şikâyetlerin gitgide artması</li>
                  </ul>
                 </p>
              </div>
            </div>
          </div>
          <br>
          
           <!--fotograf-->
     <img src="/static/cancer_bilgi.png" style="width: 50%;" alt="">

  </div>
</div>
</div>

<br>
<!--footer-->
<div style="margin-top: 50%" class="container">
    <footer class="pt-5 my-5 text-muted border-top">
      Sağlıklı Tahmin · Rıfat İlhan · Berk Tunç · © 2022
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>